<!DOCTYPE html>
<html>

<head>
    <div class="Menu">
        <h1>颱風大網站</h1>
    </div>
</head>

<body>
    <div>
        <form method="POST" action="{{url_for('firstQ')}}">
            <button type="submit">題目一</button>
        </form>
        <form method="POST" action="{{url_for('secondQ')}}">
            <button type="submit">題目二</button>
        </form>
        <form method="POST" action="{{url_for('thirdQ')}}">
            <button type="submit">題目三</button>
        </form>
    </div>
</body>

</html>